{% assign d = 'now' | date: '%-d' %}

<!-- HEADER -->
    <div id="header_wrap" class="outer">
      <header class="inner">
    <a id="rss" href={{ site.url }}/feed.xml> <img id=rss-icon src={{ site.url }}/images/feed-icon.png></a>
        <h1 id="project_title">James Percival</h1>
	Last updated : 
        {% case d %}
          {% when '1' or '21' or '31' %}{{ d }}st
          {% when '2' or '22' %}{{ d }}nd
          {% when '3' or '23' %}{{ d }}rd
          {% else %}{{ d }}th
        {% endcase %}
	{{ 'now' | date: '%B %Y' }}
      </header>
    </div>
